{{ form_start(contact_form) }}

{% if contact_form.name is defined %}
    <div class="form-group">
        {{ form_label(contact_form.name) }}
        {{ form_widget(contact_form.name, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Jean Dupond'}}) }}
    </div>
{% endif %}

{% if contact_form.email is defined %}
    <div class="form-group">
        {{ form_label(contact_form.email) }}
        {{ form_widget(contact_form.email, { 'attr' : {'class' : 'form-control', 'placeholder' : 'jean@gmail.com'}}) }}
    </div>
{% endif %}

{% if contact_form.phone is defined %}
    <div class="form-group">
        {{ form_label(contact_form.phone) }}
        {{ form_widget(contact_form.phone, { 'attr' : {'class' : 'form-control', 'placeholder' : '0422521010'}}) }}
    </div>
{% endif %}

 {% if contact_form.subject is defined %}
     <div class="form-group">
         {{ form_label(contact_form.subject) }}
         {{ form_widget(contact_form.subject, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Demande complémentaire'}}) }}
     </div>
 {% endif %}

{% if contact_form.message is defined %}
    <div class="form-group">
        {{ form_label(contact_form.message) }}
        {{ form_widget(contact_form.message, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Bonjour ...', 'rows' : 7}}) }}
    </div>
{% endif %}

{% if contact_form.file is defined %}
    <div class="form-group">
        {{ form_widget(contact_form.file, { 'attr' : {'class' : 'form-control-file'}}) }}
    </div>
{% endif %}

<div class="text-center">
    <button class="btn btn-primary btn-lg">Envoyer</button>
</div>

{{ form_rest(contact_form) }}
{{ form_end(contact_form) }}